## Tables in Python

How to print data tables with `tabulate` and `astropy`.

In [2]:
import numpy as np
from tabulate import tabulate
from astropy.table import Table

In [3]:
# Generate an array of x and y values
x = np.linspace(-2.0, 2.0, 10) # generate ten points between -2 and +2
y = 1.0 / (1.0 + x**2)

### Table using tabulate

In [4]:
# Create a list of tuples containing x and y values
table_data = [(a, b) for a, b in zip(x, y)]

# Print the table using tabulate
table_headers = ['x', 'y']
print(tabulate(table_data, table_headers, tablefmt='rounded_grid', floatfmt='.3f'))

╭────────┬───────╮
│      x │     y │
├────────┼───────┤
│ -2.000 │ 0.200 │
├────────┼───────┤
│ -1.556 │ 0.292 │
├────────┼───────┤
│ -1.111 │ 0.448 │
├────────┼───────┤
│ -0.667 │ 0.692 │
├────────┼───────┤
│ -0.222 │ 0.953 │
├────────┼───────┤
│  0.222 │ 0.953 │
├────────┼───────┤
│  0.667 │ 0.692 │
├────────┼───────┤
│  1.111 │ 0.448 │
├────────┼───────┤
│  1.556 │ 0.292 │
├────────┼───────┤
│  2.000 │ 0.200 │
╰────────┴───────╯

### Table using `astropy`

In [5]:
# Create Table
t = Table()
t['x'] = x # make axis with the key 'x' and values from the array x
t['y'] = y # make axis with the key 'y' and values from the array y
t['x'].format, t['y'].format = "{:.3f}", "{:.3f}"
print(t)

  x      y
------ -----
-2.000 0.200
-1.556 0.292
-1.111 0.448
-0.667 0.692
-0.222 0.953
 0.222 0.953
 0.667 0.692
 1.111 0.448
 1.556 0.292
 2.000 0.200

In [6]:
# Astropy Table using Jupyter Notebook capabilities
t.show_in_notebook()