## Tables in Python

How to print data tables with `tabulate` and `astropy`.

In [9]:
import numpy as np
from tabulate import tabulate
from astropy.table import Table

In [10]:
# Generate an array of x and y values
x = np.linspace(-2.0, 2.0, 10) # generate ten points between -2 and +2
y = 1.0 / (1.0 + x**2)

### Table using tabulate

In [11]:
# Create a list of tuples containing x and y values
table_data = [(a, b) for a, b in zip(x, y)]

# Print the table using tabulate
table_headers = ['x', 'y']
print(tabulate(table_data, table_headers, tablefmt='rounded_grid', floatfmt='.3f'))

╭────────┬───────╮
│      x │     y │
├────────┼───────┤
│ -2.000 │ 0.200 │
├────────┼───────┤
│ -1.556 │ 0.292 │
├────────┼───────┤
│ -1.111 │ 0.448 │
├────────┼───────┤
│ -0.667 │ 0.692 │
├────────┼───────┤
│ -0.222 │ 0.953 │
├────────┼───────┤
│  0.222 │ 0.953 │
├────────┼───────┤
│  0.667 │ 0.692 │
├────────┼───────┤
│  1.111 │ 0.448 │
├────────┼───────┤
│  1.556 │ 0.292 │
├────────┼───────┤
│  2.000 │ 0.200 │
╰────────┴───────╯

### Table using `astropy`

In [12]:
# Create Table
t = Table()
t['x'] = x # make axis with the key 'x' and values from the array x
t['y'] = y # make axis with the key 'y' and values from the array y
t['x'].format, t['y'].format = "{:.3f}", "{:.3f}"
print(t)

  x      y
------ -----
-2.000 0.200
-1.556 0.292
-1.111 0.448
-0.667 0.692
-0.222 0.953
 0.222 0.953
 0.667 0.692
 1.111 0.448
 1.556 0.292
 2.000 0.200

In [43]:
# Astropy Table using Jupyter Notebook capabilities
t.show_in_notebook()

In [45]:
from astropy.io import ascii

ascii.write(t, 'table.txt', format='commented_header', overwrite=True)

In [46]:
data_ascii = ascii.read('table.txt') # read the data in a new table
print(data_ascii)

  x      y
------ -----
  -2.0   0.2
-1.556 0.292
-1.111 0.448
-0.667 0.692
-0.222 0.953
 0.222 0.953
 0.667 0.692
 1.111 0.448
 1.556 0.292
   2.0   0.2

### Read and Write in file using numpy

In [47]:
np.savetxt('table_numpy.txt', t) # write data to file

In [48]:
data_numpy = np.loadtxt('table_numpy.txt')

In [49]:
print(data_numpy)

[[-2.          0.2       ]
 [-1.55555556  0.29241877]
 [-1.11111111  0.44751381]
 [-0.66666667  0.69230769]
 [-0.22222222  0.95294118]
 [ 0.22222222  0.95294118]
 [ 0.66666667  0.69230769]
 [ 1.11111111  0.44751381]
 [ 1.55555556  0.29241877]
 [ 2.          0.2       ]]

In [58]:
data_unpack = np.loadtxt('table_numpy.txt', unpack=True)
print(data_unpack)

[[-2.         -1.55555556 -1.11111111 -0.66666667 -0.22222222  0.22222222
   0.66666667  1.11111111  1.55555556  2.        ]
 [ 0.2         0.29241877  0.44751381  0.69230769  0.95294118  0.95294118
   0.69230769  0.44751381  0.29241877  0.2       ]]